@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #1d1d1f;
  background-color: #d2d2d7;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
